@mixin animation($name,$duration:.3s,$delay:0,$timing-function:ease,$iteration-count:1){
	animation-name:$name;
	animation-duration:$duration;
	animation-timing-function:$timing-function;
	animation-delay:$delay;
	animation-iteration-count:$iteration-count;
}

// 右移
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100vw, 0, 0);
    transform: translate3d(-100vw, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

// 字体宽度变为0
@keyframes width0{
	from{
		max-width : 1em;
		opacity:1;
	}
	to{
		max-width : 0;
		opacity:0;
		visibility:hidden;
	}
}
@keyframes width0-reverse{
	from{
		max-width : 0;
		opacity:0;
	}
	to{
		max-width : 1em;
		opacity:1;
	}
}
// 颜色变黑
@keyframes colorchange{
	from{
		color:currentColor;
	}
	to{
		color:#1c1c1c;
	}
}

// 摇晃
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}